:root {
  /* fonts */
  --font-roboto: Roboto;
  --p: "Open Sans";
  --font-lato: Lato;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --p-size: 16px;
  --font-size-mini: 15px;

  /* Colors */
  --color-darkslateblue: #392368;
  --color-thistle-100: #cec6da;
  --color-thistle-200: #cec5dd;
  --gray-2: #dde2e5;
  --neutral-colors-300: #f1f3f7;
  --neutral-colors-600: #6d7590;

  /* Effects */
  --card-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  --neutral-shadow-02: 0px 1px 4px rgba(25, 33, 60, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.desktop-52 {
  overflow-x: hidden;
}

html {
  font-size: 4.5rem;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  font-family: var(--p);
}
.body {
  position: relative;
  min-height: 100vh;
}

header {
  position: relative;
  background: #fff;
  /* z-index: 1; */
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}

header .logo {
  position: absolute;
  top: 9px;
  left: 30px;
  width: 160px;
  height: 77px;
}

.nav-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 90px;
}

.btn-parent {
  display: flex;
  gap: 1rem;
  padding-right: 0.7rem;
  z-index: 1;
}


.btn {
  width: auto;
  height: 41px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: white;
  overflow: hidden;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.red {
  position: absolute;
  top: 10%;
  left: 75%;
  background-color: #fd4d53;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(240px);
}

.blue {
  position: absolute;
  left: 65%;
  top: 40%;
  filter: blur(210px);
  background-color: #0da8cf;
  width: 447px;
  height: 447px;
  border-radius: 50%;
}

.purple {
  position: absolute;
  top: 40%;
  background-color: rgba(62, 31, 111, 0.6);
  filter: blur(210px);
  width: 650px;
  height: 453px;
  border-radius: 50%;
}

.bubble {
  position: absolute;
  top: 4%;
  left: 55%;
  width: 7.5rem;
  height: 7rem;
  animation: upDown 2s infinite;
}

@keyframes upDown {

  0%,
  100% {
    transform: translateY(0);
    /* Initial position */
  }

  50% {
    transform: translateY(-10px);
    /* Move up by 10px */
  }
}


.take-a-new {
  position: absolute;
  top: 17%;
  left: 15.5%;
  font-size: 65px;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.unlock {
  position: absolute;
  top: 29%;
  left: 16.5%;
  font-size: 32px;
  font-weight: 500;
  line-height: 47.5px;
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue);
}

.we-help-pivot {
  position: absolute;
  top: 45%;
  left: 16.5%;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

.get-started {
  width: auto;
  height: 41px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  left: 16.5%;
  top: 56%;
  cursor: pointer;
  font-family: var(--font-roboto);
  color: var(--color-darkslateblue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits {
  position: absolute;
  top: 70%;
  left: 15%;
  border-radius: 10px;
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
  background-color: #fff;
  width: 70%;
  font-weight: 300;
  height: 11%;
  line-height: 24px;
  z-index: 1;
}

.quality-education,
.interactive-engaging,
.performance-tracking,
.compliance-certification {
  position: absolute;
  top: 55%;
  width: 20%;
}

.quality-education {
  left: 4%;
}

.interactive-engaging {
  left: 20%;
}

.performance-tracking {
  left: 40%;
}

.compliance-certification {
  left: 60%;
}

.iconlysharpboldstar {
  position: absolute;
  left: 8%;
  top: 10%
}

.monitor-icon {
  position: absolute;
  left: 26%;
  top: 15%;
}

.icontrophy {
  position: absolute;
  left: 67%;
  top: 15%;
}


.iconsolidlight-bulb {
  position: absolute;
  left: 45%;
  top: 10%;
}

.line,
.line1,
.line2 {
  position: absolute;
  border-right: 0.8px solid var(--color-thistle-100);
  height: 47px;
  opacity: 0.5;
  top: 22%;
}

.line {
  left: 17.7%;

}

.line1 {
  left: 37.5%;
}

.line2 {
  left: 57%;
}

.member-benefits {
  width: 17%;
  height: 41px;
  padding: 20px;
  position: absolute;
  left: 81%;
  top: 25%;
  cursor: pointer;
  font-family: var(--font-roboto);
  color: var(--color-darkslateblue);
  background-color: white;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-darkslateblue);
}

.footer1 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 40px 20px;
  background-color: var(--color-thistle-200);
  border-radius: 26px 26px 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue);
  font-family: var(--font-lato);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brandname {
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 200%;
}

.divider {
  width: 16rem; /* 16rem converted to px */
  height: 1px;
  background-color: var(--color-darkslateblue);
  margin: 20px 0;
}

.footerline {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.footerline a {
  position: relative;
  font-size: var(--p-size);
  color: var(--color-darkslateblue);
  text-decoration: none;
  font-weight: 500;
}

.footer-right-links {
  position: absolute;
  bottom: 50px; /* Adjust this value to position vertically */
  right: 180px; /* Adjust this value to position horizontally */
  display: flex;
  gap: 15px; 
}

.footer-right-links a {
  font-size: var(--font-size-sm);
  line-height: 160%;
  text-decoration: none;
  color: var(--color-darkslateblue);
}

.brand-name-all {
  position: absolute;
  bottom: 50px; /* Adjust this value to position vertically */
  left: 180px; /* Adjust this value to position horizontally */
  text-align: left;
  font-size: var(--font-size-sm);
  line-height: 160%;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-media-icon-insta,
.social-media-icon-fb,
.social-media-icon-link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}


.instagram-icon,.facebook-icon,.linkedin-icon{
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title2 {
  margin: 10px 0px 20px 0px;
  font-size: 17px;
  line-height: 22px;
  font-family: var(--p);
  font-weight: 600;
  text-align: center;
}

.contact-popup-container {
  align-content: center;
  top: 0;
  background: rgba(0, 0, 0, 0.17);
  /* color: #392368; */
  width: 100vw;
}

.contact-popup {
  position: relative;
  background-color: #fff;
  width: 75vw;
  margin: 141px 138.35px;
  top: 0;
  left: 3rem;
  color: #392368;
  background-size: cover;
  overflow: hidden;
  border-radius: 70px;
  display: grid;
  font-family: Roboto;
}

.contact-popup input {
  font-family: Poppins;
  color: #392368;
  font-weight: 600;
}

.contact-popup input:focus {
  color: #392368;
  font-weight: 600;
  font-size: medium;
}

.contact-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  margin-top: 0;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 80px;
  font-size: 55px;
  text-shadow: 0px 3px 3px #a9a9a9;
  font-weight: 600;
}

.personal-info {
  /* display: flex; */
  /* z-index: 2; */
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
  font-family: Poppins;
  font-size: 14px;
}

.last-name,
.phone-number {
  margin-right: 200px;
}

.non-active {
  display: none;
}

.personal-info input {
  font-size: 24px;
}

.personal-info input:focus {
  outline: none;
  font-size: 24px;
}

.select-container {
  position: relative;
  height: 40px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  color-scheme: light dark;
}

.select-container svg {
  position: absolute;
  right: calc(50% + 150px);
  transform: rotate(180deg);
}

#organizationType option {
  background-color: #ad9ad6;
  padding: 20px;
  line-height: 30px;
  margin-left: 10px;
}

#organizationType option:checked,
#organizationType option[selected] {
  background-color: #392368;
  color: white;
}

#organizationType:hover,
/* Remove hover effect for Firefox */
#organizationType:hover option {
  /* Remove hover effect for options in other browsers */
  background-color: inherit;
  /* Ensure hover doesn't change background */
  color: inherit;
  /* Ensure hover doesn't change text color */
}

.selected-select {
  display: none;
}

#organizationType option:hover {
  background-color: #392368;
  color: #fff;
}

#organizationType {
  z-index: 2;
  position: relative;
  color: #392368;
  appearance: none;
  margin: 40px 130px;
  background-color: transparent;
  border: none;
  width: 300px;
  font-weight: 550;
  font-size: large;
  color-scheme: light;
  font-size: 19.29px;
}

#organizationType:active {
  color: #fff;
}

#organizationType:focus {
  outline: none;
  color: #392368;
}

.work-exp {
  position: relative;
  left: 10%;
  font-size: 16px;
  /* Adjust the size as needed */
  line-height: 1.5;
  /* Better readability */
  padding: 10px;
  /* Add some padding for spacing */
  color: var(--color-darkslateblue);
  /* Example color */
  font-family: var(--font-roboto);
  /* Ensure consistent font family */
  white-space: pre-wrap;
  /* Preserve whitespace for preformatted text */
}

#workExperience {
  color: red;
  font-size: 1rem;
  display: flex;
  margin-top: 1rem;
}

#workExperienceHead {
  font-weight: 550;
  font-size: 19px;
}

.work-exp label {
  padding: 10px 27px;
  /* display: flex; */
}


.message {
  margin: 20px 130px;
  background-color: transparent;
  border: none;
  z-index: 2;
  width: 800px;
  font-size: large;
}

.message textarea {
  background-color: transparent;
  border: none;
  font-size: large;
  width: 800px;
}

.message textarea:focus {
  outline: none;
  color: #392368;
  font-size: x-large;
}

.submit {
  text-align: center;
  display: grid;
  place-items: center;
  z-index: 2;
  padding: 20px;
}

.submit input {
  display: none;
}

.submit button {
  background-color: #392368;
  padding: 10px 40px;
  font-size: large;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}

.close {
  font-size: xxx-large;
  font-weight: 500;
  z-index: 2;
  margin-top: 10px;
  text-align: end;
  border: none;
  margin-right: 50px;
  background-color: transparent;
}

.close:hover {
  cursor: pointer;
}

#orgType {
  margin-top: 0;
}

.error-msg {
  margin-top: 1rem;
  color: red;
  font-size: 1rem;
  display: flex;
}


.ml-148 {
  margin-left: 148px;
}



/* verification page */

body.modal-open {
  overflow: hidden;
}

.myModal {
  position: fixed;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: max-content;
  max-width: 100%;
  height: max-content;
  background-color: #392368;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  text-align: center;
  color: white;
  font-size: medium;
}

.close-alert {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  font-size: 3vh;
  color: rgb(239 68 68);
  cursor: pointer;
}

.alert-heading {
  position: relative;
  bottom: 0.5rem;
}

/* media queries */

@media (max-width: 480px) {

  html{
    font-size: 1.5rem;
  }
  header{
    font-size: var(--font-size-sm);
  }
  header .logo{
    width: 100px;
    height: 50px;
    top: 23px;
    left: 10px;
  }
  .btn{
    padding: 5px;
    height: 30px;
    font-size: 10px;
    border-radius: 5px;
  }
  .red{
    width: 200px;
    height: 200px;
    left: 55%;
    top:20%;
    filter: blur(120px);
  }
  .blue{
    left:45%;
    top: 50%;
    width: 250px;
    height: 250px;
    filter: blur(150px);
  }
  .purple{
    top: 50%;
    width: 250px;
    height: 300px;
    filter: blur(150px);
  }
  .bubble {
    top: 5%;
    left: 50%;
  }
  .take-a-new{
    left: 4%;
    top: 10%;
    font-size: 30px;
    width: 200px;
  }
  .unlock{
    font-size: 15px;
    top: 21%;
    left: 4% ;
    line-height: 30px;
  }
  .we-help-pivot{
    top: 31%;
    font-size: 13px;
    left: 4%;
    line-height: 25px;
  }
  .get-started{
    padding: 10px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    top: 42%;
    left: 4%;
  }
  .benefits{
    top: 53%;
    left: 2.5%;
    font-size: 11px;
    width: 95%;
    line-height: 15px;
    text-align: center;
  }
  .quality-education,
  .interactive-engaging,
  .performance-tracking,
  .compliance-certification {
    top: 50%;
  }
  .quality-education {
    left: 0;
  }
  
  .interactive-engaging {
    left: 18%;
  }
  
  .performance-tracking {
    left: 38.5%;
  }
  
  .compliance-certification {
    left: 60%;
    width: 21%;
  }
  .iconlysharpboldstar,.monitor-icon,.icontrophy{
    width: 5%;
    top: 15%;
  }
  .iconsolidlight-bulb{
    width: 6%;
    top: 13%;
  }
  .line,.line1,.line2{
    height: 50px;
    top: 19%;
  }
  .line2{
    left: 59%;
  }
  .member-benefits{
    padding: 10px;
    height: 30px;
    font-size: 10px;
    border-radius: 5px;
    top: 30%;
  }
  .footer-right-links {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    right: 15px;
    bottom: 15px;
    align-items: flex-end;
    gap: 10px; /* Space between each link */
  }

  .footerline {
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    gap: 15px; /* Adjust space between links */
  }
  .social-media-icons {
    gap: 10px;
    margin-bottom: 10px;
  }

  .brand-name-all {
    left: 15px;
    bottom: 15px;
    font-size: 12px;
  }

  .footer-title2 {
    font-size: 15px; /* Adjust font size for better fit */
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footerline {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 20px; /* Adjust space between links */
  }

  .footer-right-links {
    flex-direction: column;
    font-size: 12px;
    right: 20px;
    bottom: 20px;
    align-items: flex-end;
    gap: 15px; /* Space between each link */
  }

  .social-media-icons {
    gap: 12px;
    margin-bottom: 10px;
  }

  .brand-name-all {
    left: 20px;
    bottom: 20px;
    font-size: var(--font-size-sm); /* Adjust font size if needed */
  }

  .footer-title2 {
    font-size: 16px; /* Adjust font size for better fit */
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footerline {
    flex-direction: row;
    justify-content: center;
    gap: 25px; /* Adjust space between links */
  }

  .footer-right-links {
    flex-direction: row;
    right: 30px;
    bottom: 20px;
    align-items: center;
    gap: 15px; /* Space between each link */
  }

  .social-media-icons {
    gap: 14px;
    margin-bottom: 10px;;
  }

  .brand-name-all {
    left: 30px;
    bottom: 20px;
    font-size: var(--font-size-sm); /* Adjust font size if needed */
  }

  .footer-title2 {
    font-size: 17px; /* Adjust font size for better fit */
  }
}

@media (min-width: 1025px) {
  .footerline {
    flex-direction: row;
    justify-content: center;
    gap: 30px; /* Space between links */
  }

  .footer-right-links {
    flex-direction: row;
    right: 30px;
    bottom: 20px;
    align-items: center;
    gap: 15px;
  }

  .social-media-icons {
    gap: 15px;
  }

  .brand-name-all {
    left: 20px;
    bottom: 20px;
    font-size: var(--font-size-sm); /* Ensure font size fits well */
  }

  .footer-title2 {
    font-size: 17px; /* Font size for larger screens */
  }
}


