:root {
  /* fonts */
  --font-roboto: Roboto;
  --p: "Open Sans";
  --font-lato: Lato;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --p-size: 16px;
  --font-size-mini: 15px;

  /* Colors */
  --color-darkslateblue: #392368;
  --color-thistle-100: #cec6da;
  --color-thistle-200: #cec5dd;
  --gray-2: #dde2e5;
  --neutral-colors-300: #f1f3f7;
  --neutral-colors-600: #6d7590;

  /* Effects */
  --card-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  --neutral-shadow-02: 0px 1px 4px rgba(25, 33, 60, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.desktop-52 {
  overflow-x: hidden;
}

html {
  font-size: 4.5rem;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  font-family: var(--p);
}

header {
  position: relative;
  background: #fff;
  /* z-index: 1; */
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}

header .logo {
  position: absolute;
  top: 9px;
  left: 30px;
  width: 160px;
  height: 77px;
}

.nav-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 95px;
}

.btn-parent {
  display: flex;
  gap: 1rem;
  padding-right: 0.7rem;
  z-index: 1;
}


.btn {
  width: auto;
  height: 41px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: white;
  overflow: hidden;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.body {
  position: relative;
  /* background-color: #6d7590; */
  min-height: 100vh;
  /* overflow: visible; */
}

.red {
  position: absolute;
  top: 10%;
  left: 75%;
  background-color: #fd4d53;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(240px);
}

.blue {
  position: absolute;
  left: 65%;
  top: 40%;
  filter: blur(210px);
  background-color: #0da8cf;
  width: 447px;
  height: 447px;
  border-radius: 50%;
}

.purple {
  position: absolute;
  top: 40%;
  background-color: rgba(62, 31, 111, 0.6);
  filter: blur(210px);
  width: 650px;
  height: 453px;
  border-radius: 50%;
}

.bubble {
  position: absolute;
  top: 4%;
  left: 55%;
  width: 7.5rem;
  height: 7rem;
  animation: upDown 2s infinite;
}

@keyframes upDown {

  0%,
  100% {
    transform: translateY(0);
    /* Initial position */
  }

  50% {
    transform: translateY(-10px);
    /* Move up by 10px */
  }
}


.take-a-new {
  position: absolute;
  top: 17%;
  left: 15.5%;
  font-size: 65px;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.unlock {
  position: absolute;
  top: 29%;
  left: 16.5%;
  font-size: 32px;
  font-weight: 500;
  line-height: 47.5px;
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue);
}

.we-help-pivot {
  position: absolute;
  top: 45%;
  left: 16.5%;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

.get-started {
  width: auto;
  height: 41px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  left: 16.5%;
  top: 56%;
  cursor: pointer;
  font-family: var(--font-roboto);
  color: var(--color-darkslateblue);
  background-color: white;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits {
  position: absolute;
  top: 68%;
  left: 15%;
  border-radius: 10px;
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
  background-color: #fff;
  width: 70%;
  font-weight: 300;
  height: 11%;
  line-height: 24px;
  z-index: 1;

}

.quality-education,
.interactive-engaging,
.performance-tracking,
.compliance-certification {
  position: absolute;
  top: 55%;
  width: 20%;
}

.quality-education {
  left: 4%;
}

.interactive-engaging {
  left: 20%;
}

.performance-tracking {
  left: 40%;
}

.compliance-certification {
  left: 60%;
}

.iconlysharpboldstar {
  position: absolute;
  left: 8%;
  top: 10%
}

.monitor-icon {
  position: absolute;
  left: 26%;
  top: 15%;
}

.icontrophy {
  position: absolute;
  left: 67%;
  top: 15%;
}


.iconsolidlight-bulb {
  position: absolute;
  left: 45%;
  top: 10%;
}

.line,
.line1,
.line2 {
  position: absolute;
  border-right: 0.8px solid var(--color-thistle-100);
  height: 47px;
  opacity: 0.5;
  top: 22%;
}

.line {
  left: 17.7%;

}

.line1 {
  left: 37.5%;
}

.line2 {
  left: 57%;
}

.member-benefits {
  width: 17%;
  height: 41px;
  padding: 20px;
  position: absolute;
  left: 81%;
  top: 25%;
  cursor: pointer;
  font-family: var(--font-roboto);
  color: var(--color-darkslateblue);
  background-color: white;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-darkslateblue);
}

.footer1 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 40px 20px;
  background-color: var(--color-thistle-200);
  border-radius: 26px 26px 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue);
  font-family: var(--font-lato);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brandname {
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 200%;
}

.divider {
  width: 16rem; /* 16rem converted to px */
  height: 1px;
  background-color: var(--color-darkslateblue);
  margin: 20px 0;
}

.footerline {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.footerline a {
  position: relative;
  font-size: var(--p-size);
  color: var(--color-darkslateblue);
  text-decoration: none;
  font-weight: 500;
}

.footer-right-links {
  position: absolute;
  bottom: 50px; /* Adjust this value to position vertically */
  right: 180px; /* Adjust this value to position horizontally */
  display: flex;
  gap: 15px; /* Space between each link */
}

.footer-right-links a {
  font-size: var(--font-size-sm);
  line-height: 160%;
  text-decoration: none;
  color: var(--color-darkslateblue);
}

.brand-name-all {
  position: absolute;
  bottom: 50px; /* Adjust this value to position vertically */
  left: 180px; /* Adjust this value to position horizontally */
  text-align: left;
  font-size: var(--font-size-sm);
  line-height: 160%;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-media-icon-insta,
.social-media-icon-fb,
.social-media-icon-link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}


.instagram-icon,.facebook-icon,.linkedin-icon{
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title2 {
  margin: 10px 0px 20px 0px;
  font-size: 17px;
  line-height: 22px;
  font-family: var(--p);
  font-weight: 600;
  text-align: center;
}



/* verification page */

body.modal-open {
  overflow: hidden;
}

.myModal {
  position: fixed;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: max-content;
  max-width: 100%;
  height: max-content;
  background-color: #392368;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  text-align: center;
  color: white;
  font-size: medium;
}

.close-alert {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  font-size: 3vh;
  color: rgb(239 68 68);
  cursor: pointer;
}

.alert-heading {
  position: relative;
  bottom: 0.5rem;
}

/* media queries */

@media (max-width: 480px) {
  .footerline {
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    gap: 10px; /* Adjust space between links */
  }

  .footer-right-links {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    right: 15px;
    bottom: 15px;
    align-items: flex-end;
    gap: 10px; /* Space between each link */
  }

  .social-media-icons {
    gap: 10px;
    margin-bottom: 10px;
  }

  .brand-name-all {
    left: 15px;
    bottom: 15px;
    font-size: 12px;
  }

  .footer-title2 {
    font-size: 15px; /* Adjust font size for better fit */
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footerline {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 20px; /* Adjust space between links */
  }

  .footer-right-links {
    flex-direction: column;
    font-size: 12px;
    right: 20px;
    bottom: 20px;
    align-items: flex-end;
    gap: 15px; /* Space between each link */
  }

  .social-media-icons {
    gap: 12px;
    margin-bottom: 10px;
  }

  .brand-name-all {
    left: 20px;
    bottom: 20px;
    font-size: var(--font-size-sm); /* Adjust font size if needed */
  }

  .footer-title2 {
    font-size: 16px; /* Adjust font size for better fit */
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footerline {
    flex-direction: row;
    justify-content: center;
    gap: 25px; /* Adjust space between links */
  }

  .footer-right-links {
    flex-direction: row;
    right: 30px;
    bottom: 20px;
    align-items: center;
    gap: 15px; /* Space between each link */
  }

  .social-media-icons {
    gap: 14px;
    margin-bottom: 10px;;
  }

  .brand-name-all {
    left: 30px;
    bottom: 20px;
    font-size: var(--font-size-sm); /* Adjust font size if needed */
  }

  .footer-title2 {
    font-size: 17px; /* Adjust font size for better fit */
  }
}

@media (min-width: 1025px) {
  .footerline {
    flex-direction: row;
    justify-content: center;
    gap: 30px; /* Space between links */
  }

  .footer-right-links {
    flex-direction: row;
    right: 30px;
    bottom: 20px;
    align-items: center;
    gap: 15px;
  }

  .social-media-icons {
    gap: 15px;
  }

  .brand-name-all {
    left: 20px;
    bottom: 20px;
    font-size: var(--font-size-sm); /* Ensure font size fits well */
  }

  .footer-title2 {
    font-size: 17px; /* Font size for larger screens */
  }
}


